.tracks
    .actions
        height: 100%
        visibility: hidden
        position: absolute
        right: 18px
        top: 0px

        .active
            svg
                fill: $svg-red

        button:hover:not(.active)
            svg
                fill: $text-dark

        button
            height: 100%
            width: 22px
            svg
                height: 20px
                width: 20px
                fill: $svg


    @media (max-width: 63.9375em)
        button:not(.menu)
            display: none
        .menu
            width: 30px !important

    .help
        position: absolute
        visibility: hidden
