sudo: required
language: node_js
node_js:
- 4
python:
- 2.7.9
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-4.8
cache:
  directories:
  - node_modules
before_script:
- git clone http://code.transifex.com/transifex-client
- cd transifex-client
- git checkout 0.12.1
- sudo python setup.py install
- cd ..
- install -m0644 .transifexrc.tpl ~/.transifexrc
- echo "password = $TX_PASSWD" >> ~/.transifexrc
script:
- npm run build
- npm run test
before_deploy:
- npm run deploy
- cd public
deploy:
  provider: npm
  email: frank@cozycloud.cc
  api_key:
    secure: Ci6JiHjsEQPUHLKVuWvfMLvk/Obs3vqMMig91loV/JPgrVInX6s4YSmeKnxMjidAIWjwnqEVJrNUn9v2kvxTUI2/ifAapnq9XtxNV8rhn8ZLku3bUvR/8rRvsIgDXvl4ziNT7l0zN44WzoZNwhNtON3F5OIwiBAc3BQjnYBIbao8wNb4v3KXyuS8r/ABcVx5smAnoGbpCj8zTkCzfj0liPwWNwQy1anu6r8BWNFCaviCwLT1JbfsxFliFMBdn5N9fETToN+EMmai7oZEFgf8lPXILl5aQl75+Xm7LloqD+U2S+cpbQyze34WFitW/t9FD5ZRD4vlLps7rlAIju3ErbORzHZRLP3saf1fH7lp0Ax1jMjpcJV20PoF3z7NoyDaeg3bkKagG8Qmf1wbCKrBKjKxPcolVizA+vmyc15AjQTWp4Dcs48OhQIc9Fcs7YjZ97QYYTziAvG93fgqh7XSs4JFLLtXTRG1WkCKaYBOgHAaTOBFHiRSr9D+zdU6VwE++VJuI2T2qXTAcTyWZwygJotKyfHCXIjNirtJ9Ke8t325rSqSCSTGnN59nHXDsLA2qEq2O4unfosKY6TYvBD/RQaLtO2tyeDWu2TTCJ95MqJPjYvOBgQDRG7meOp1gX2SDwx/GAtekun6F6kxBLdf8tyqKnQhu1UIgBvziTlN9a8=
  skip_cleanup: true
  on:
    branch: master
    tags: true
    repo: cozy-labs/cozy-music
env:
  global:
  - CXX=g++-4.8
  - secure: y1xuAMtE5PR9tQ2yGYWRCh9p1aq2eDhJgIs2v4m5+IBHco1DZMzavQ6XPhryj0Y9IhkHWPvK5HOEz/J8UAIF0KL+8IFQX6eNI3PwzRIRQmXa+YvREAaSE+1PBg5gpP1YAN6khb24ksPWHXiAmdV7e+KiVospGA6Bs3SEPyJKlSebRq/Pw/RG+qljBk8FjFFs9QVC/d/6SP6EbMoZAD3ZaALtIqBOP4N9Jk/zivQmNlZDI231PY2h+XUU9QUR8EEu6Z/aT9tk+6zkfFYZR61crhrdIYS8mvmcu/Z1EPSWpNLf9Zr0EnnmB4z/DdUJx4NnmcyTQ8TZYE8mU1Tvlzm7pvOzTBd0pZkr56G8J2bGgaAadiDuf77Fb3N4yPZYqIIjsPEpE0DxCXMBVy5zJAbrc1BQJh2I+8Clk7xbuPjtxHI8vxAOm/c8m6VTIWGcMmFMtIrtYut+youE93VEvbdReDOJIgkKV3oPhynXPzumf5VVR3uf2w6fXKh3emOairV/bhR4M/V4CoLWkFGAe9+V3HMq4woMcz74o6DA2ueo9iA17bh9bg2mlQWATq+uQuuy1eXIWwe+vF28CHMYHnJ3o00hivdVASp0Q7EZjQAPkX48tC9FonUZ7Z3TK1QCkDcZB/gJGNFZLJuxwaNh1kfwfL1+EZgTLV4w0x8ZIo99ff8=
  - secure: lGgFcnIoAqFAQaMhOJHPctFjtoeIwr215xJt8+KHF7C8k0dnreik21sGOJj8NRH5yOeseOiPr7u0xOk7hUuSfIg95YKWVPCnVaClrUrSHh3n+xhvgymcOvJeEDj9j48nkUfMqBlHSDVz9irPHTa94OOrZIdt7fqme/ifT5yUgL3yx4urXy1sz4JXud0LPhVwElUein/3i74rGVp1G5wQJWDyI7BxOzDTBYs0ELovohEOjfc9QbiVSAp2bldUeDUgA7QEvj8Y83dzMkmTQ82fR6YRO0+8iDBUq+U4zeGij3grSeoYx3KJCPAq7LdYpNd95xIJ9gvouwZARQaJzBZ8YNve3E9wWakSPbcQl+5cPEjNt5c41RwRdtKtyHIJizGzpc/3DpeslrwM8FxRlKVV5I3azkiEZ9PrNjkuB5zWYXWYInII6QEnfJc1oxx/zffYF2IDc3t01m5oxNVeurdMTiJ0dgRgXoaSnT/vsVeyFw/lHbOPvG4C8dU/pyGJXEBukGp6QY9JZ6AxbpsOY13ukwFM4ZmZxr2KjBjGGb/EcfGhKWlYOH7wKWesQ7G9r93WwsFwux66aCAPJL783C19fwwnZ27prIDfsDB1JTHf0UClj7ZPCtG7j0J8k7otzkwSeh/97oWFzLEe+l7IodZA+Sxa7JEr5dgiM+viwOXo/jc=
