<div role="toolbar"></div>
<div role="contentinfo"></div>
<div class="player">
    <div class="play-controls"></div>
    <div class="timeline"></div>
    <div class="controls-extended"></div>
</div>
<audio autoplay preload autobuffer></audio>
