<div role="toolbar" aria-expanded="false"></div>
<main>
	<div role="contentinfo"></div>
	<div class="player" aria-expanded="false">
	    <div class="play-controls"></div>
	    <div class="timeline"></div>
	    <div class="controls-extended"></div>
	</div>
</main>
<div role="dialog"></div>
<audio autoplay preload autobuffer></audio>
