<div class="overlay"></div>
<div class="dialog">
	<h4><%= title %></h4>
    <p><%= message %></p>
    <div class="buttons">
        <% if (dismiss) { %>
            <button class="dismiss button"><%= t('cancel') %></button>
        <% } %>
        <button class="accept button"><%= t('delete') %></button>
    </div>
</div>
