<div class="text-container">
    <p id="trackname"><%= title %></p>
</div>
<div id="progress-bar">
    <div id="progress" style="width:<%= timePercent %>"></div>
</div>
<p id="current-time"><%= audioCurrentTime %></p>
<p id="total-time"><%= totalTime %></p>