<div class="text-container">
    <span id="title"><%= title %></span>
    <% if (artist != "") {%>
    	<span id="artist"><%= artist %></span>
    <% } %>
</div>
<div id="progress-bar">
    <div id="progress" style="width:<%= timePercent %>"></div>
</div>
<span id="current-time"><%= audioCurrentTime %></span>
<span id="total-time"><%= totalTime %></span>